div.item-image-eric img{
  max-width: 100% !important;
}
.MessageItem{
    text-align: center;
    background: #e88822;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.text-align-right{
  text-align: right;
}
.text-align-left{
  text-align: left;
}

.item-errorMessage{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    color: red;
    text-align: center;
    border-top: none;
}
.userFace img{
  border: 1px #bfbfbf solid;
}
