<ion-modal-view ng-controller="LoginCtr">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">登錄</h1>
        <button class="button button-clear button-primary" ng-click="LoginModal.hide()">取消</button>
    </ion-header-bar>
     <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
             <span class="input-label text-align-right">用户名：</span>
             <input type="text" name="username" ng-change="CheckValue('username')" ng-model="user.username" placeholder="請輸入用戶名">
           </label>
           <label class="item item-errorMessage" ng-show="usererror.username">
             用户名是必须的。
           </label>
           <label class="item item-input">
             <span class="input-label text-align-right">密码：</span>
             <input type="password" name="password" ng-change="CheckValue('password')" ng-model="user.password" placeholder="請輸入密碼">
           </label>
           <label class="item item-errorMessage" ng-show="usererror.password">
             密碼是必须的。
           </label>
          <button class="button button-full button-positive" ng-click="login()">登錄</button>
          <p class="text-align-right">
            <button class="button button-small button-outline button-positive" ng-click="register()">還沒有賬號，註冊一個</button>
          </p>
      </div>
    </ion-content>
</ion-modal-view>
