<ion-modal-view ng-controller="settingCtr">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">設置</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">取消</button>
    </ion-header-bar>
     <ion-content>
       <div class="list" ng-show="isLogin">
         <div class="item item-divider">
            設置
          </div>
          <ion-item>
            <ion-toggle ng-model="likeButton.checked"
                        ng-change="likeButtonChange()">
              是否喜歡
            </ion-toggle>
          </ion-item>
          <button  class="button button-full button-assertive" ng-click="loginOut()">退出</button>
      </div>
      <button ng-show="!isLogin" class="button button-full button-positive" ng-click="login()">去登錄</button>
    </ion-content>
</ion-modal-view>
