*,body{
  margin: 0;
  padding: 0; 
  font-family:'Microsoft YaHei,微软雅黑,MicrosoftJhengHei,华文细黑,STHeiti,MingLiu';
}
body{
  position: relative; 
}
.lsiten_page_home{
  background: #00AA81;
}
.lsiten_page_skill{
  background: #0BD88D;   
}
.lsiten_page_project{ 
  background: #6EE5CA;    
}
.lsiten_page_job{
  background: #7BE250;  
}
.lsiten_page_contact{
  background: #6CBB46;
}

.project_tips{
  display: inline-block;
  padding: 5px 10px;
  max-width: 180px;
  margin-left: 20px;
  &:first-child{
    margin-left: 0px;
  }
  .title{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #666;
  }
  .des{
    font-size: 14px;
    line-height: 25px;
    color: #666;
    margin-top:10px;
  }
}
.project_projects{
  width: 200px;
  height: 330px;
  display: inline-block;
  margin-left: 30px;
  &:first-child{
    margin-left: 0;
  }
  a{
    color: #333;
    text-decoration: none;
    display: block;
    .thumb{
      width: 200px;
      height: 200px;
      border: 1px solid #999;
      border-radius: 100px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%; 
      }
    }
    .title{
      line-height: 25px;
      margin-top: 10px;
      color: #333;
      font-size: 20px;
      font-weight: bold;
    }
    .tips{
      margin-top: 5px;
      font-size: 14px;
      color: #666;
    }
  }
}


.loading{
  width: 100%;
  height: 3px;
  background: #999;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  .progress{
    background: #2a7b03;
    height: 3px;
  }
}